{{#each errors}}
<div class="alert alert-danger">{{errorText}}</div>
{{else}}

{{/each}}

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Register</h3>
      <form action="/users/register" method="POST">
        <input type="text" class="form-control mb-3" required="required" placeholder="Name">
        <input type="text" class="form-control mb-3" required="required" placeholder="Email Address">
        <input type="password" class="form-control mb-3" required="required" placeholder="Password">
        <input type="password" class="form-control mb-3" required="required" placeholder="Confirm Password">
        <button class="btn btn-primary" type="submit">Create Account</button>
      </form>
    </div>
  </div>
</div>